.pages-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: #fff;

  :global {
    .ogo-card-head {
      border: none;
    }
    .ogo-card-body {
      padding: 0 16px;
    }
  }

  .RouterBackBtn {
    font-size: 24px;
    cursor: pointer;
  }

  .page-content-table {
    flex: 1;

  }
}
