.shortcuts-wrap {
  min-height: 100px;
  width: 35%;
  min-width: 350px;
  margin: 5px;

  button {
    width: 30%;
    margin: 10px 5px;
    box-shadow: -1px 1px 2px 0 #ccc;
  }

  .Btn:hover {
    color: #fff;
    background-color: #2B6ED9;
    border-color: #2B6ED9;
    box-shadow: -1px 1px 2px 0 #2B6ED9;
  }

  .Btn:focus {
    border-color: transparent;
  }
}
